/* ---------------------------- Globals ----------------------------- */
#overlay {
   position: fixed;
   display: none;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 2;
   cursor: pointer;
}

.card_body {
   display: flex;
   justify-content: center;
}

.detail_card_body {
   height: 700px;
   width: 400px;
   background-color: #07222b;
   border: 1px solid #000;
   border-radius: 20px;
   color: #fefefe;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 20px;
   z-index: 2;
   cursor: default;
}

/* ---------------------------- Card Body Top ----------------------------- */
h3 {
   cursor: pointer;
}

.detail_card_body_top {
   height: 20px;
   padding: 20px 20px;
   display: flex;
   justify-content: space-between;
}

/* ---------------------------- Card Body Img ----------------------------- */
.detail_card_body_img {
   margin-left: auto;
   margin-right: auto;
   
   background-color: #0d3240;
}

.pokemonImage {
   height: 300px;
}

.detail_card_icon_body {
   height: 60px;
   display: flex;
   justify-content: center;
   gap: 20px;
}

.detail_card_icon_body img {
width: 40px;
height: 40px;
}

/* ---------------------------- Card Body Details ----------------------------- */
.details_block {
   display: flex;
   flex-direction: column;
   /* margin-top: 100px; */
}
.nav {
   display: flex;
   justify-content: space-around;
   /* margin-top: 55px; */
}

.detail_content {
   background-color: #0d3340;
   min-height: 130px;
   padding: 10px 20px;
   /* border: 1px solid; */
}

.details {
   font-size: 16px;
   padding-top: 5px;
   display: flex;
}

.detail_properties {
   width: 140px;
}

.evo-chain {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.evo-chain img {
    width: 100px;  /* Bildgröße */
    height: 100px; /* Bildgröße */
    border-radius: 50%;  /* Optional: Runde Bilder */
}

.evo-chain p {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

/* ---------------------------- Card Body Bottom ----------------------------- */
.detail_card_body_bottom {
   background-color: #0d3240;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 10px;
   padding-right: 10px;
}
