#content {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   margin-bottom: 50px;
}

.mini_card_body {
   height: 300px;
   width: 220px;
   background-color: #0d3240;
   border: 1px solid #000;
   border-radius: 20px;
   color: #fefefe;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 20px;
}   

.mini_card_body:hover {
   cursor: pointer;
   transform: scale(1.2); /* Vergrößert das Element um 20% */
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Optionale Schatteneffekte für den Hover-Effekt */
}

.mini_card_body_top {
   height: 35px;
   padding: 10px;
   display: flex;
   justify-content: space-around;
}

.mini_card_body_img img {
   width: 100%;
}

.mini_card_body_bottom {
   height: 35px;
   display: flex;
   justify-content: center;
   gap: 20px;
}

.mini_card_body_bottom img{
   height: 30px;
}
